<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>

 <% @cocktails.each do |cocktail| %>
     <%= cocktail.id%>
     <%= cocktail.name%>
      <%= link_to "see more" , cocktail_path(cocktail)  %>
 <% end %>


